{% extends "base.html" %}

{% block title %}Информация | MAGNAVIS{% endblock %}

{% block content %}
    <style>p{text-align: justify;}  .p-up-s{display: none;}  section{ min-height: 0;}  body{background-image: linear-gradient(to bottom, #171616, #000000);}  .tablo-color{padding-left: 40px;padding-left: 40px;}</style>
    <script>
        document.querySelector("body").classList.remove("asyncImage");
    </script>
    <div class="tablo-big tablo-invis py-2">
        <a class="d-block text-decoration-none" href="{{ url_for('info') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        </a>
    </div>
    <div class="tablo-big tablo-invis">
        {#<h3>Преимущества работы с нашей компанией</h3>#}
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col p-0">
                    <h1 style="font-size: 2.2em; margin-bottom: 32px;">Судьба Северо-Сибирской железной дороги зависит от РЖД
</h1>
                    <p style="font-weight: bold;">Благодаря ей провоз грузов от Владивостока до Бреста до 8,5 дней на постоянной основе
</p>
                    <p>Железнодорожная магистраль, которая свяжет Югру с регионами Сибири и далее с Китайской Народной Республикой, необходима. Но ее строительство зависит от инвестиционных планов ОАО «РЖД». Об этом заявил Президент РФ Владимир Путин в эфире телепрограммы «Итоги года с Владимиром Путиным» в формате совмещенной прямой линии и большой пресс–конференции главы государства.
</p>
                    <p>– И Правительство, и РЖД рассматривают возможные варианты. Всегда это связано с инвестпрограммами РЖД. Сейчас, конечно, наиболее значимым является развитие Восточного полигона. Все усилия туда сосредотачиваются. Но это направление, оно тоже, так или иначе, имеет отношение к решению магистральных задач, – сказал глава государства.
</p>
                    <p>Ранее Президент России Владимир Путин поручил рассмотреть вопрос о строительстве Северо-Сибирской железнодорожной магистрали (СевСиб), которая соединит Ханты-Мансийский автономный округ (ХМАО) с Байкало-Амурской магистралью (БАМ). Согласно расчетам, ее создание может ускорить провоз грузов от Владивостока до Бреста до 8,5 дней на постоянной основе.
</p>
                    <p>В октябре нынешнего года Югра и Кемеровская область подписали соглашение о сотрудничестве между регионами, в том числе в сфере развития Северо-Сибирской железной дороги.
</p>
                    <p>Правительство Югры в своем телеграм-канале отмечает, что в соответствии со схемой территориального планирования РФ в области федерального транспорта и автомобильных дорог федерального значения, Северо-Сибирская железная дорога должна быть связана с Байкало-Амурской магистралью. Реализация проекта по строительству новой магистрали позволит выстроить новые логистические маршруты, положительно повлияет на приток инвестиций в экономику региона.
</p>
                    <p>Источник: logirus.ru</p>
                </div>
                <div class="col">
                    <div style="margin-left: 32px; margin-top: 12px;"><img src="{{ url_for('static', filename='img/rgd.jpg') }}" style=" width: 100%; border-radius: 8px;" alt="MAGNAVIS"></div>
                </div>
                </div>

            </div>
        </div>




{% endblock %}