{% extends "mobile/base.html" %}

{% block title %}Китайский перевозчик Suparna Airlines (код IATA Y8) 29 ноября выполнил первый рейс из воcточно-китайского Нанкина (аэропорт NKG) в подмосковный Жуковский (ZIA) | MAGNAVIS{% endblock %}

{% block content %}
    <style>p{text-align: justify;} .up{height: 200px;} .p-up-s{display: none;}  section{ min-height: 0;}  body{background-image: linear-gradient(to bottom, #171616, #000000);}  .tablo-color{padding-left: 40px;padding-left: 40px;}</style>
    <script>
        document.querySelector("body").classList.remove("asyncImage");
    </script>
    <div class="tablo-big tablo-invis py-2">
        <a class="d-block text-decoration-none" href="{{ url_for('info') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        </a>
    </div>
    <div class="tablo-big tablo-invis">
        {#<h3>Преимущества работы с нашей компанией</h3>#}
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col p-0">
                    <div style="margin-bottom: 32px; margin-top: 32px;"><img src="{{ url_for('static', filename='img/suparna.webp') }}" style=" width: 100%; border-radius: 8px;" alt="MAGNAVIS"></div>
                    <div>
                    <h1 style="font-size: 2.2em; margin-bottom: 32px;">Китайский перевозчик Suparna Airlines (код IATA Y8) 29 ноября выполнил первый рейс из воcточно-китайского Нанкина (аэропорт NKG) в подмосковный Жуковский (ZIA).</h1>
                    <p>Рейс выполнялся на грузовом самолете Boeing B747, грузоподьемность которого составляет 100 тонн. В декабре планируется выполнить три рейса на этом маршруте, предварительно 17, 20 и 23 декабря. В планах авиакомпании сделать рейс регулярным в будущем году. </p>
                    <p>На маршруте можно отправлять различные категории грузов, в том числе негабаритные и опасные грузы. К слову, на первом рейсе вылетел груз второго класса опасности. Для аэропорта NKG это первый случай обработки груза такого класса опасности.</p>
                </div>

                </div>
                </div>

            </div>
        </div>




{% endblock %}