{% extends "mobile/base.html" %}

{% block title %}О компании - MAGNAVIS{% endblock %}

{% block content %}
    <style>.t{margin: 0; margin-top: 16px;}.up{height: 200px;}.p-up-s{display: none;}section{ min-height: 0;}body{background-image: linear-gradient(to bottom, #171616, #000000);}.tablo-light{padding-left: 40px;padding-right: 40px;}.window{min-width: 780px;}</style>
    <script>
        document.querySelector("body").classList.remove("asyncImage");
    </script>
    <div class="tablo-big tablo-invis">
        <h1 style="font-size: 3.3em" class="text-center m-0">О нас</h1>
        <div style="width: 50%; margin-left: 25%; height: 2px; background-color: white; margin-top: 20px;"></div>
    </div>
    <div class="tablo-big tablo-invis">
        <div class="container-fluid px-5">
            <div class="row">
                <div class="tablo-light d-flex justify-content-between p-0 m-0">
                    <div class="col tablo-light m-0 img-about" style="width: 50%; background-image: url({{ url_for('static', filename='img/container-min1-min.webp') }}); background-repeat: no-repeat; background-size: cover;">
                       <div class=" tablo-light m-0 text-about-2" style="width: 50%; display: none;">
{#                            <img alt="MAGNAVIS" src="{{ url_for('static', filename='img/logo-white.webp') }}" class="mb-5" style=" width: 65%; border-radius: 8px;">#}
                            <p style="text-align: justify;">Мы &mdash; современная, динамично развивающаяся компания в мире логистики. Мы предлагаем услуги по доставке грузов в любую точку мира. Наша компания имеет масштабную сеть партнеров и сотрудничает с ведущими транспортными компаниями, что позволяет предлагать клиентам наиболее оптимальные маршруты, условия доставки и цены.</p>
                            <p style="text-align: justify;">МАГНАВИС &mdash; это не просто компания, а команда молодых профессионалов, готовых сделать всё, чтобы каждая ваша доставка была успешной и эффективной. Мы разрабатываем индивидуальные логистические решения и обеспечиваем высококачественный сервис.</p>
                       </div>
                    </div>
                    <div class="col tablo-light m-0  text-about-1" style="width: 50%; min-width: 579px;">
{#                        <img alt="MAGNAVIS" src="{{ url_for('static', filename='img/logo-white.webp') }}" class="mb-5" style=" width: 65%; border-radius: 8px;">#}
                        <p style="text-align: justify;">Мы &mdash; современная, динамично развивающаяся компания в мире логистики. Мы предлагаем услуги по доставке грузов в любую точку мира. Наша компания имеет масштабную сеть партнеров и сотрудничает с ведущими транспортными компаниями, что позволяет предлагать клиентам наиболее оптимальные маршруты, условия доставки и цены.</p>
                            <p style="text-align: justify;">МАГНАВИС &mdash; это не просто компания, а команда молодых профессионалов, готовых сделать всё, чтобы каждая ваша доставка была успешной и эффективной. Мы разрабатываем индивидуальные логистические решения и обеспечиваем высококачественный сервис.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="tablo-big tablo-invis">

        <div class="container-fluid px-5">
            <div class="row">
                <h3 style="padding-left: 0 !important;">Преимущества работы с нашей компанией</h3>
                <div style="min-width: 622px;" class="col t tablo-light">
                    <div class="d-flex justify-content-between align-items-center w-100 mb-5">
                            <div>
                                <h4 style="font-size: 2.4em;">Доставка любых грузов</h4>
                            </div>
                            <div class="tablo-color p-3 m-0">
                                <img alt="Доставка любых грузов" style="width: 60px; height: 60px;" src="{{ url_for('static', filename='img/1(w).svg') }}">
                            </div>
                    </div>
                    <p class="m-0" style="text-align: justify;">
Мы работаем с любыми категориями товаров, включая опасные, негабаритные и тяжеловесные грузы. С нашей помощью вы можете перевезти килограммы мороженого, музейные экспонаты и крокодилов. Исходя из специфики вашего груза мы подберём оптимальный вариант маршрута и обеспечим соблюдение всех необходимых требований и норм.
                            </p>
                </div>
                <div style="min-width: 622px;" class="col t tablo-light">
                    <div class="d-flex justify-content-between align-items-center w-100 mb-5">
                            <div>
                                <h4 style="font-size: 2.4em;">Страхование грузов</h4>
                            </div>
                            <div class="tablo-color p-3 m-0">
                                <img alt="Страхование грузов" style="width: 60px; height: 60px;" src="{{ url_for('static', filename='img/2(w).svg') }}">
                            </div>
                    </div>
                    <p class="m-0" style="text-align: justify;">
С МАГНАВИС ваши грузы прибудут в точку назначения в целостности и сохранности. Наша компания предлагает надёжные и выгодные услуги по страхованию грузов на время перевозки. Условия договоров отвечают современным требованиям, предъявляемым к страховому покрытию, и позволяют защитить клиентов от возможных убытков.
                    </p>
                </div>
                <div style="min-width: 422px;" class="col t tablo-light">
                    <div class="d-flex justify-content-between align-items-center w-100 mb-5">
                            <div>
                                <h4 style="font-size: 2.4em;">Таможенное оформление</h4>
                            </div>
                            <div class="tablo-color p-3 m-0">
                                <img alt="Таможенное оформление" style="width: 60px; height: 60px;" src="{{ url_for('static', filename='img/3w.svg') }}">
                            </div>
                    </div>
                    <p class="m-0" style="text-align: justify;">
Мы обеспечиваем профессиональное и оперативное таможенное оформление грузов, организуя нашим клиентам быстрое и беспрепятственное прохождение таможенных процедур. Мы работаем с различными видами товаров, поэтому знаем все тонкости таможенного оформления: от подготовки документов до сопровождения груза на границе.
                            </p>
                </div>
            </div>
            <div class="row">
                <div style="min-width: 622px;" class="col t tablo-light">
                    <div class="d-flex justify-content-between align-items-center w-100 mb-5">
                            <div>
                                <h4 style="font-size: 2.4em;">Персональный менеджер 24/7</h4>
                            </div>
                            <div class="tablo-color p-3 m-0">
                                <img alt="Персональный менеджер 24/7" style="width: 60px; height: 60px;" src="{{ url_for('static', filename='img/4w.svg') }}">
                            </div>
                    </div>
                    <p class="m-0" style="text-align: justify;">
Преимуществом МАГНАВИС является индивидуальный подход к каждому клиенту и своевременное информирование клиента. Наши менеджеры всегда готовы помочь в выборе оптимального варианта доставки для вашего груза.
                            </p>
                </div>
                <div style="min-width: 622px;" class="col t tablo-light">
                    <div class="d-flex justify-content-between align-items-center w-100 mb-5">
                            <div>
                                <h4 style="font-size: 2.4em;">Максимально короткие сроки</h4>
                            </div>
                            <div class="tablo-color p-3 m-0">
                                <img alt="Максимально короткие сроки" style="width: 60px; height: 60px;" src="{{ url_for('static', filename='img/5w.svg') }}">
                            </div>
                    </div>
                    <p class="m-0" style="text-align: justify;">
Наша задача &mdash; доставить ваш груз в максимально сжатые сроки. Для этого мы работаем с самими быстрыми курьерами и самым быстрым транспортом в мире. И главное &mdash; мы гарантируем сохранность ваших товаров на всём пути следования.
                    </p>
                </div>
                <div style="min-width: 422px;" class="col t tablo-light">
                    <div class="d-flex justify-content-between align-items-center w-100 mb-5">
                            <div>
                                <h4 style="font-size: 2.4em;">Из любой точки мира</h4>
                            </div>
                            <div class="tablo-color p-3 m-0">
                                <img alt="Из любой точки мира" style="width: 60px; height: 60px;" src="{{ url_for('static', filename='img/6w.svg') }}">
                            </div>
                    </div>
                    <p class="m-0" style="text-align: justify;">
 МАГНАВИС подвластны любые расстояния: мы осуществляем перевозки по суше, воде и воздуху. С нами ваши грузы придут точно в срок. Мы доставим ваш груз в любую точку мира даже тогда, когда кажется, что все границы закрыты.
                            </p>
                </div>

            </div>
        </div>
    </div>
    <div class="tablo-big tablo-invis">

        <div class="container-fluid px-5"><div class="row"><h3 style="padding-left: 0 !important;">Итоги 2023</h3>
{#            <div class="d-flex justify-content-between  tablo-color mx-0" style="padding-right: 40px; padding-left: 40px;">#}
{#                <div style="width: 100%; margin-bottom: 60px; margin-right: 60px;">#}
{#                    #}
{#                    #}
{#                </div>#}
{#                <div style="width: 100%; margin-bottom: 60px;">#}
{#                    #}
{#                    #}
{#                </div>#}
{#            </div>#}
            <div class="tablo-color" style="padding: 40px;"><table style="width: 100%;">
                <tr>
                    <td style=" padding-bottom: 30px;">
{#                        <div style="margin-bottom: 60px;">#}
                        <h5>Договоров подписано</h5>
                        <p class="m-0" style="font-size: 4em; ">{{ numbers[0] }}</p>
{#                    </div>#}
                    </td>
                    <td style="padding-left: 40px; padding-bottom: 30px;">
{#                        <div>#}
                    <h5 style="width: 370px;">Постоянных клиентов</h5>
                    <p class="m-0" style="font-size: 4em; width: 300px;">{{ numbers[1] }}</p>
{#                </div>#}
                    </td>
                </tr>
                <tr>
                    <td>
{#                        <div style="margin-bottom: 60px;">#}
                        <h5>Направлений</h5>
                        <p class="m-0" style="font-size: 4em; ">300+</p>
{#                    </div>#}
                    </td>
                    <td style="padding-left: 40px;">
{#                        <div>#}
                    <h5>Грузов перевезено</h5>
                    <p class="m-0" style="font-size: 4em; ">{{ numbers[2] }}</p>
{#                </div>#}
                    </td>
                </tr>
            </table></div>

        </div> </div>

    </div>
    <div class="tablo-big tablo-invis">

        <div class="container-fluid px-5" id="part">
            <div class="row w-100 m-0">
                <h3 style="padding-left: 0 !important;">Наши партнёры</h3>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE="min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part1.webp') }}" alt="Аэрофлот"> </div>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE="min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part7.webp') }}" alt="Turkish Airlines"> </div>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part3.webp') }}" alt="Volga Dnepr"> </div>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part4.webp') }}" alt="Hainan airlines"> </div>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part5.webp') }}" alt="China eastern"> </div>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part6.webp') }}" alt="Sichuan airlines"> </div>
{#                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/Logo_b.webp') }}" alt="Geasena"> </div>#}
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part8.webp') }}" alt="china southern"> </div>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part9.webp') }}" alt="air china"> </div>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part11.webp') }}" alt="uzbekistan airways"> </div>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part12.webp') }}" alt="emirates"> </div>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part13.webp') }}" alt="etihad airways"> </div>
                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part14.webp') }}" alt="flydubai"> </div>
{#                <div class="col logo d-flex align-items-center mx-auto mb-5 mt-5 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part15.webp') }}" alt="azerbaijan airlines"> </div>#}
            </div>
        </div>
    </div>

{% endblock %}