{% extends "mobile/base.html" %}

{% block title %}Направления грузоперевозок | MAGNAVIS{% endblock %}

{% block content %}
    <style>.p-up-s{display: none;}.up{height: 200px;}section{ min-height: 0;}body{background-image: linear-gradient(to bottom, #171616, #000000);} .tablo-color{padding-left: 40px;padding-left: 40px;}</style>
    <script>
        document.querySelector("body").classList.remove("asyncImage");
    </script>
    <div class="tablo-big tablo-invis">
        <h1 style="font-size: 3.3em" class="text-center m-0">Направления</h1>
    <div style="width: 50%; margin-left: 25%; height: 2px; background-color: white; margin-top: 20px;"></div>
    </div>
    <div class="tablo-big tablo-invis mt-3">
        <div class="container-fluid px-5">
            <div class="row mb-5 p-0">
                <img src="{{ url_for('static', filename='img/mp.png') }}" class="p-0 m-0">
            </div>
            <div class="row">
                <div class="col text-start-1" style="padding-left: 0; padding-right: 16px; min-width: 730px;"><p class="p-0" style="text-align: justify;">
Доставляем любые виды грузов по всей России. Везём из Китая, Индии, Гонконга, Кореи, Японии, ОАЭ, Африки и стран Европы. Туда и обратно. Делаем так, чтобы для получения груза, вам нужно было один раз позвонить по телефону, а не самостоятельно составлять маршрут, искать склад хранения и упаковывать товар. Все это МАГНАВИС берёт на себя.</p></div>
                <div class="col text-start-1" style="padding-right: 0; padding-left: 16px; min-width: 430px;"><p class="p-0" style="text-align: justify;">
Оформляем документы, доставляем грузы от «двери до двери», проходим границы, упаковываем, храним, вручаем в руки и лично сообщаем, где находится ваш груз в конкретный момент времени. Масштабная сеть партнёров со всего света, поддержка от личного менеджера 24/7 и опытная команда – то, что ценим мы, и то, что ценят в нас. </p></div>
            </div>
        </div>
    </div>

    <div class="tablo-big tablo-invis mt-3">
        <h3>Основные направления</h3>
        <div class="container-fluid px-5">
{#            <div class="row">#}
{#                <div class="col-8">#}
{#                    <img src="{{ url_for('static', filename='img/red/ch.png') }}" class="p-0">#}
{#                </div>#}
{#                <div class="col">#}
{#                    <div class="row">#}
{#                        <div class="col"><img src="{{ url_for('static', filename='img/red/hk.png') }}" class="p-0"></div>#}
{##}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col"><img src="{{ url_for('static', filename='img/red/oae.png') }}" class="p-0"></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col"><img src="{{ url_for('static', filename='img/red/in.png') }}" class="p-0"></div>#}
{#                <div class="col"><img src="{{ url_for('static', filename='img/red/tr.png') }}" class="p-0"></div>#}
{#            </div>#}
            <div class="row">
                <a class="d-block col p-0" href="directions/china"><div class=" tablo-invis d-flex justify-content-center country-col" style="margin-left: 0;">
                    <div class="d-flex justify-content-center align-items-center" style="width: 340px; margin-right: 32px"> <img src="{{ url_for('static', filename='img/red/ch.png') }}" style="width: 340px; height:289px;"></div>
                    <div class="country-text">
                        <h3>Китай</h3>
                        <p>МАГНАВИС доставит в любую точку мира промышленное оборудование, запчасти чай, шёлк и многое другое даже из самой отдалённой провинции Китая.</p>
                    </div>
                </div></a>
                <a class="d-block col p-0" href="directions/china"><div class=" tablo-invis d-flex justify-content-center country-col" style="margin-right: 0;">
                    <div class="d-flex justify-content-center align-items-center" style="width: 340px; margin-right: 32px"><img src="{{ url_for('static', filename='img/red/hk.png') }}" style="width: 340px; height:267px;"></div>
                    <div class="country-text">
                        <h3>Гонконг</h3>
                        <p>Сегодня это идеальный торговый партнёр — мы осуществляем регулярные перевозки грузов из Гонконга в Россию. Гарантируем скорость и сохранность.</p>
                    </div>
                </div></a>
            </div>
            <div class="row">
                <a href="directions/skorea" class="d-block col p-0"><div class=" tablo-invis d-flex justify-content-center country-col" style="margin-left: 0;">
                    <div class="d-flex justify-content-end align-items-center" style="width: 340px !important; height: 340px; margin-right: 32px; padding-left: 40px"><img src="{{ url_for('static', filename='img/red/sk.png') }}" style="width: 300px; height:340px;"></div>

                    <div class="country-text">
                        <h3>Ю. Корея</h3>
                        <p>С каждым годом растёт востребованность маршрута Сеул-Москва. Наиболее популярные экспортные товары: косметика, продукты и спецоборудование.</p>
                    </div>
                </div></a>
                <a href="directions/oae" class="d-block col p-0"><div class=" tablo-invis d-flex justify-content-center country-col" style="margin-right: 0;">
                    <div class="d-flex justify-content-center align-items-center" style="width: 340px; margin-right: 32px"><img src="{{ url_for('static', filename='img/red/oae.png') }}" style="width: 340px; height:274px;"></div>
                    <div class="country-text">
                        <h3>ОАЭ</h3>
                        <p>Большая часть грузов доставляется в Россию путём реэкспорта из стран, участвующих в санкциях. Всё благодаря свободной экономической зоне в ОАЭ.</p>
                    </div>
                </div></a>
            </div>
            <div class="row">
                <a href="directions/turkey" class="d-block col p-0"><div class="tablo-invis d-flex justify-content-center align-items-center country-col" style="margin-left: 0;">
                    <div class="d-flex justify-content-center align-items-center country-col" style="width: 340px; margin-right: 32px"><img src="{{ url_for('static', filename='img/red/tr.png') }}" class="p-0" style="margin-right: 32px; width: 340px; height: 162px"></div>
                    <div class="country-text">
                        <h3>Турция</h3>
                        <p>Мощный логистический хаб, с помощью которого в Россию доставляют не только товары из Европы, но и оригинальную турецкую продукцию высокого качества.</p>
                    </div>
                </div></a>
                <a href="directions/india" class="d-block col p-0"><div class="tablo-invis d-flex justify-content-center align-items-center country-col mx-0" style="margin-right: 0;">
                    <div class="d-flex justify-content-center align-items-center" style="width: 340px !important; margin-right: 32px; padding-left: 29px"><img src="{{ url_for('static', filename='img/red/in.png') }}" style="width: 311px; height:340px;"></div>
                    <div class="country-text">
                        <h3>Индия</h3>
                        <p>Индия — лидер по добыче слюды, выращиванию хлопка, разведению скота, а также один из крупнейших экспортёров программного обеспечения.</p>

                    </div>
                </div></a>
            </div>

        </div>

    </div>
{% endblock %}
