{% extends "mobile/base.html" %}

{% block title %}Способы оплаты, онлайн оплата | MAGNAVIS{% endblock %}

{% block content %}
    <style>.p-up-s{display: none;}.up{height: 200px;}section{ min-height: 0 ;}body{background-image: linear-gradient(to bottom, #171616, #000000);} .tablo-light{padding-left: 40px;padding-right: 40px;} .tablo-color{padding-left: 40px;padding-right: 40px;}</style>
    <script>
        document.querySelector("body").classList.remove("asyncImage");
    </script>
    <div class="tablo-big tablo-invis">
        <h1 style="font-size: 3.3em" class="text-center m-0">Оплата</h1>
    <div style="width: 50%; margin-left: 25%; height: 2px; background-color: white; margin-top: 20px;"></div>
    </div>
    <div class="tablo-big tablo-invis">

        <div class="container-fluid px-5">
            <div class="row">
                <h3 style="padding-left: 0 !important;">Способы оплаты</h3>
                <div class="col tablo-color sp-1" style="min-width: 404px;">
                    <h4>Для юридического лица</h4>
                    <ul>
                        <li>Безналичная форма в рублях по счету на ООО/ИП (НДС/УСН)<br><r style="font-size: 1em;">Клиенту предоставляется полный комплект закрывающих бухгалтерских документов</r></li>
                        <li>Наличная форма</li>
                        <li>Оплата онлайн на сайте по корпоративной карте</li>
                    </ul>
                </div>

                <div class="col tablo-light sp-2" style="min-width: 404px; margin-top: 8px;">
                    <h4>Для физического лица</h4>
                    <ul>
                        <li>Банк Тинькофф QR</li>
                        <li>Наличная форма</li>
                        <li>Оплата онлайн на сайте</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tablo-big tablo-invis">

        <div class="container-fluid px-5">
            <div class="row">
<h3 style="padding-left: 0 !important;">Электронный документооборот (ЭДО)</h3>
                    <div class=" col tablo-light d-flex justify-content-end align-items-center sp-1" style="min-height: 130px; min-width: 531px;">
                        <div class="w-100"><p class="mb-0 m">Движение документации можно отследить в режиме онлайн, что исключает риск потери важных бумаг.</p></div>
                        <div class="d-flex justify-content-center align-items-center" style="margin-left: 40px; border-radius: 8px;color: white; min-width: 100px; height: 100px; background-color: #ab2524;"><svg xmlns="http://www.w3.org/2000/svg" width="50" fill="currentColor" class="bi bi-person-up" viewBox="0 0 16 16">
  <path d="M6.445 12.688V7.354h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
  <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
</svg></div>
                    </div>
                    <div class=" col tablo-light d-flex justify-content-end align-items-center sp-2 sr" style="min-height: 130px; min-width: 531px; margin-top: 8px;">
                        <div class="w-100"><p class="mb-0 m">Электронный документооборот значительно экономит время и ресурсы организации.</p></div>
                        <div class="d-flex justify-content-center align-items-center" style="margin-left: 40px; border-radius: 8px;color: white; min-width: 100px; height: 100px; background-color: #ab2524;"><svg xmlns="http://www.w3.org/2000/svg" width="50" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
  <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"/>
  <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"/>
</svg></div>
                    </div>

            </div>
        </div>
    </div>
    <div class="tablo-big tablo-invis">

        <div class="container-fluid px-5">
            <div class="row">
                <h3 style="padding-left: 0 !important;">Получить счёт онлайн</h3>
                <div class="col p-0 sp-1" style="min-width: 370px;">
                    <div class="tablo-light frm-how mx-0">
                        <h4>1. Заполните форму</h4>
                    </div>
                    <div class="tablo-light frm-how mx-0" style=" margin-top: 16px;">
                        <h4>2. Нажмите "Получить счёт"</h4>
                    </div>
                    <div class="tablo-light frm-how mx-0" style=" margin-top: 16px;">
                        <h4>3. Счёт придёт на вашу почту</h4>
                    </div>
                    <div class="tablo-light frm-how mx-0" style=" margin-top: 16px;">
                        <h4>4. Оплатите его через QR-код</h4>
                    </div>
                </div>
                <div class="col d-flex justify-content-center tablo-color frm sp-2" style="width: 100%; margin-top: 8px;">
{#                    <div class="tablo-invis pt-0">#}

                        <form class="text-light pay-form p-3" style="width: 100% !important;">
                            <h3 class="m-0">Оплата</h3>
                            <div class="mb-3 form__group field">
                                <input type="text" class="form_pay_field" name="sum" id="sum" placeholder="sum" required>
                                <label class="form_pay_label" for="sum">Сумма оплаты</label>
                            </div>
                            <div class="mb-3 form__group field">
                                <input type="text" class="form_pay_field" name="num" id="num" placeholder="num" required>
                                <label class="form_pay_label" for="num">Номер накладной</label>
                            </div>
                            <div class="mb-3 form__group field">
                                <input type="email" class="form_pay_field" name="email-pay" id="email-pay" placeholder="email" required aria-describedby="emailHelp">
                                <label class="form_pay_label" for="email-pay">Email для уведомления</label>
                            </div>
{#                            <div class="mb-3">#}
{#                                <input type="checkbox" name="check-pay" id="check-pay" class="custom-checkbox custom-pay-checkbox">#}
{#                                <label class="form-check-labeL text-light" for="check-pay" style="color: gray; font-size: 1.3em;">Согласие на обработку персональных данных</label>#}
{#                            </div>#}
                            <button type="submit" class="btn btn-light mt-4" style="font-size: 1.7em; padding: 20px !important;">Получить счёт</button>
                        </form>
{#                    </div>#}
                </div>
            </div>
        </div>

    </div>
{% endblock %}