{% extends "base.html" %}

{% block title %}{{ titles.title }}{% endblock %}

{% block content %}
    <style>p{text-align: justify;}  .p-up-s{display: none;}  section{ min-height: 0;}  body{background-image: linear-gradient(to bottom, #171616, #000000);}  .tablo-color{padding-left: 40px;padding-left: 40px;}</style>
    <script>
        document.querySelector("body").classList.remove("asyncImage");
    </script>
    <div class="tablo-big tablo-invis py-2">
        <a class="d-block text-decoration-none" href="{{ url_for('info') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        </a>
    </div>
    <div class="tablo-big tablo-invis">
        {#<h3>Преимущества работы с нашей компанией</h3>#}
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col p-0">
                    <h1 style="font-size: 2.2em; margin-bottom: 32px;">Китайский Новый 4721-й год: как отмечают Праздник весны по всему миру</h1>
                    <p>Логистическая компания МАГНАВИС от всего сердца поздравляет с Новым годом наших коллег из Китая и местных жителей, а также всех тех, кто причастен к этой уникальной восточноазиатской культуре. </p>
                    <p>Символ наступающего года — Зелёный Деревянный Дракон, одно из самых могущественных и ярких животных восточного календаря, мудрое мифическое существо, которое символизирует императорскую власть Китая. Считается, что это самый энергичный зверь. Красный является главным цветом праздника, именно поэтому люди развешивают красные фонари и красные свитки на окнах своих жилищ, запускают красочные фейерверки. Год Дракона улучшит финансовое состояние, поможет в расширении семьи и карьерном росте, принесет успех тем, кто много работает над собой, учится на своих ошибках и не стоит на месте.  А ещё поможет усилить такие качества, как смелость, уверенность и независимость.</p>
                    <p>Нашей компании МАГНАВИС выпала честь по случаю Чуньцзе (Праздника весны) доставить из России в китайские рестораны мясные деликатесы весом до 10 тонн. Поставка осуществлялась прямым рейсом авиакомпании «Аэрофлот» из Москвы в Гуанчжоу. На грузовом терминале Москва Карго наши специалисты проверили все документы на груз, герметичность упаковки, и конечно же, проконтролировали от начала до конца процесс погрузки в самолёт. Китайская сторона встречала и принимала товар на грузовом терминале аэропорта Гуанчжоу.</p>
                    <p>Особое внимание при перевозке продуктов питания, в том числе мяса, уделяется соблюдению температурного режима. Полёт длился 9 часов, и на протяжении всего этого времени в грузовом отсеке поддерживалась температура от +2 до +8 градусов. </p>
                    <p>Мы тоже обязательно присоединимся к празднованию этого неповторимого события. В этом году в Санкт-Петербурге Китайский Новый Год отметят интересной программой мероприятий по случаю 75-летия установления дипломатических отношений между Китаем и Россией. В театре марионеток им. Е.С. Деммени покажут спектакль по китайской народной сказке, в Музее печати расскажут об истории появления бумаги, в культурном квартале «Брусницын» организуют мастер-классы по каллиграфии, изготовлению вееров и практике Цигун, дегустации чая и кинопоказы. </p>

                </div>
                <div class="col">
                    <div style="margin-left: 32px; margin-top: 12px;"><img src="{{ url_for('static', filename='img/jacob-buchhave-_gKhaJYtJNY-unsplash.jpg') }}" style=" width: 100%; border-radius: 8px;" alt="MAGNAVIS"></div>
                </div>
                </div>

            </div>
        </div>




{% endblock %}