{% extends "base.html" %}

{% block title %}Аэрофлот запускает прямой рейс из Москвы на китайский остров Хайнань | MAGNAVIS{% endblock %}

{% block content %}
    <style>p{text-align: justify;}  .p-up-s{display: none;}  section{ min-height: 0;}  body{background-image: linear-gradient(to bottom, #171616, #000000);}  .tablo-color{padding-left: 40px;padding-left: 40px;}</style>
    <script>
        document.querySelector("body").classList.remove("asyncImage");
    </script>
    <div class="tablo-big tablo-invis py-2">
        <a class="d-block text-decoration-none" href="{{ url_for('info') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        </a>
    </div>
    <div class="tablo-big tablo-invis">
        {#<h3>Преимущества работы с нашей компанией</h3>#}
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col p-0">
                    <h1 style="font-size: 2.2em; margin-bottom: 32px;">Аэрофлот запускает прямой рейс из Москвы на китайский остров Хайнань</h1>
                    <p>Рейс SU224 по маршруту Шереметьево-Санья будет выполняться по средам бортом А330-300. Первый рейс запланирован на 27 декабря. Санья – это крупнейший город на китайском курортном острове Хайнань, популярном направлении как для китайских внутренних, так и для зарубежных туристов.
</p>
                </div>
                <div class="col">
                    <div style="margin-left: 32px; margin-top: 12px;"><img src="{{ url_for('static', filename='img/haynan.jpg') }}" style=" width: 100%; border-radius: 8px;" alt="MAGNAVIS"></div>
                </div>
                </div>

            </div>
        </div>




{% endblock %}