{% extends "base.html" %}

{% block title %}Проведению бартерных сделок в трансгране мешает отсутствие «справочника цен» | MAGNAVIS{% endblock %}

{% block content %}
    <style>p{text-align: justify;}  .p-up-s{display: none;}  section{ min-height: 0;}  body{background-image: linear-gradient(to bottom, #171616, #000000);}  .tablo-color{padding-left: 40px;padding-left: 40px;}</style>
    <script>
        document.querySelector("body").classList.remove("asyncImage");
    </script>
    <div class="tablo-big tablo-invis py-2">
        <a class="d-block text-decoration-none" href="{{ url_for('info') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        </a>
    </div>
    <div class="tablo-big tablo-invis">
        {#<h3>Преимущества работы с нашей компанией</h3>#}
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col p-0">
                    <h1 style="font-size: 2.2em; margin-bottom: 32px;">Проведению бартерных сделок в трансгране мешает отсутствие «справочника цен»
</h1>
                    <p style="font-weight: bold;">Минэкономразвития разработал навигатор по заключению таких контрактов
</p>
                    <p>Трудности с проведением международных расчетов, возникающие в условиях введения антироссийских санкций, вновь сделали востребованными бартерные сделки. Однако для проведения таких сделок есть существенное препятствие: сложно подтверждать равноценность обмениваемых товаров. Помочь с решением проблемы должен разработанный Минэкономразвития совместно с Российским экспортным центром (РЭЦ) навигатор по заключению бартерных сделок, сообщает «РБК».
</p>
                    <p>– Чтобы избежать манипуляций в бартерных сделках, важно установить эквивалентность товаров. Необходимо четкое понимание, что разные виды продукции действительно равноценны. Совместно с РЭЦ мы разработали навигатор, который поэтапно объясняет, как заключать бартерные сделки в текущих условиях. После того как согласуем новый инструмент с коллегами из ФТС и другими федеральными органами власти, сделаем его публичным. Наша задача – создать более комфортные условия для работы импортеров и экспортеров, – подчеркнула директор департамента развития и регулирования внешнеэкономической деятельности ведомства Лилия Щур-Труханович.
</p>
                    <p>Пока еще не решен вопрос, какой орган должен составлять «справочник цен», подтверждающий равноценность ставших предметом сделки товаров.
</p>
                    <p>По словам Щур-Труханович, с помощью навигатора можно будет заключать не только закрытые, но и открытые бартерные сделки, в рамках которых можно будет «комбинировать товары в корзину, чтобы она удовлетворяла все стороны контракта».
</p>
                    <p>Источник: logirus.ru</p>
                </div>
                <div class="col">
                    <div style="margin-left: 32px; margin-top: 12px;"><img src="{{ url_for('static', filename='img/spravochnik.jpg') }}" style=" width: 100%; border-radius: 8px;" alt="MAGNAVIS"></div>
                </div>
                </div>

            </div>
        </div>




{% endblock %}