{% extends "base.html" %}

{% block title %}Эксперт: на фонд оплаты труда транспортных компаний давят «суточные» | MAGNAVIS{% endblock %}

{% block content %}
    <style>p{text-align: justify;}  .p-up-s{display: none;}  section{ min-height: 0;}  body{background-image: linear-gradient(to bottom, #171616, #000000);}  .tablo-color{padding-left: 40px;padding-left: 40px;}</style>
    <script>
        document.querySelector("body").classList.remove("asyncImage");
    </script>
    <div class="tablo-big tablo-invis py-2">
        <a class="d-block text-decoration-none" href="{{ url_for('info') }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        </a>
    </div>
    <div class="tablo-big tablo-invis">
        {#<h3>Преимущества работы с нашей компанией</h3>#}
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col p-0">
                    <h1 style="font-size: 2.2em; margin-bottom: 32px;">Эксперт: на фонд оплаты труда транспортных компаний давят «суточные»</h1>
                    <p style="font-weight: bold;">Средневзвешенная зарплата водителя увеличилась за 5 лет на 27% до 165 тысяч рублей</p>
                    <p>Отрасль автомобильных грузоперевозок за 3 года выросла на 40%. Об этом на открытии Ассоциации автомобильных перевозчиков и экспедиторов заявил заместитель Министра транспорта РФ Валентин Иванов.</p>
                    <p>По оценкам эксперта Strategy Partners Александра Цыпина, объем автомобильных грузоперевозок за 2019-2023 годы вырос на 17,4%. При этом грузооборот за этот же период вырос на 38%.
</p>
                    <p>– Себестоимость грузоперевозок растет, на что влияет ряд факторов. Среди ключевых – стоимость тягача и топлива, зарплата водителей, – отметил эксперт.
</p>
                    <p>По данным Александра Цыпина, средневзвешенная зарплата водителя увеличилась за 5 лет на 27% до 165 тысяч рублей. Средняя стоимость тягачей также выросла на 10%, а топливо подорожало на 5% за тот же период, утилизационный сбор вырос на 70%, а максимальный тариф проезда по платным дорогам увеличился до 25 рублей.
</p>
                    <p>Кроме того, Александр Цыпин считает, что доля затрат на суточные водителей становится преобладающей в структуре расходов транспортных компаний. Из-за «суточных» фонды оплаты труда выросли на 30%.
</p>
                    <p>– За последние полтора года произошло разрушение бизнес-моделей, увеличение стоимости финансирования и его доступности, а это ключевые факторы, которые позволяют отрасли развиваться, – резюмировал эксперт.
</p>
                    <p>Источник: logirus.ru</p>
                </div>
                <div class="col">
                    <div style="margin-left: 32px; margin-top: 12px;"><img src="{{ url_for('static', filename='img/sutochnie.jpg') }}" style=" width: 100%; border-radius: 8px;" alt="MAGNAVIS"></div>
                </div>
                </div>

            </div>
        </div>




{% endblock %}