{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
    <style>.p-up-s{display: none;}section{ min-height: 0;}body{background-image: linear-gradient(to bottom, #171616, #000000);}</style>
    <div class="tablo-big tablo-invis">
        <h3 class="text-center">О нас</h3>
    </div>
    <div class="tablo-big tablo-light d-flex justify-content-between p-0">
                <div class="tablo-light m-0" style="width: 50vw; height:60vh;background-image: url({{ url_for('static', filename='img/container.png') }}); background-repeat: no-repeat; background-size: cover;"></div>

        <div class="mx-5" style="max-width: 600px;">

            <img src="{{ url_for('static', filename='img/logo-white.png') }}" class="mb-5" style="margin-top: 60px; width: 90%; border-radius: 8px;">
            <p><b style="color: #6a1a21">4.1</b>Мы молодая, динамично развивающаяся компания в мире логистики, готовая взять на себя перевозку даже самых необычных грузов. Несмотря на наш юный возраст, мы уверены в своих силах и предлагаем качественные решения для перемещения товаров по всему миру.</p>
            <p>"Магнавис" - это не просто компания, а команда молодых профессионалов, готовых доказать свою способность в мире логистики. Мы готовы расти вместе с вашим бизнесом и сделать все, чтобы каждая доставка была успешной и эффективной</p>
        </div>
    </div>
    <div class="tablo-big tablo-invis">
        <h3>Преимущества работы с нашей компанией</h3>
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col tablo-light">
                    <div class="d-flex justify-content-center mb-3"><img style="width: 200px; height: 200px;" src="{{ url_for('static', filename='img/любые-грузыsvg.svg') }}"></div>
                    <h4>Доставка любых грузов</h4>
                    <p>
                        <b style="color: #6a1a21">4.2</b>Независимо от того, насколько сложен ваш груз, мы способны организовать его безопасную и эффективную доставку. Мы принимаем на себя ответственность за самые специфичные и ценные грузы.
                    </p>
                </div>
                <div class="col tablo-light">
                    <div class="d-flex justify-content-center mb-3"><img style="width: 200px; height: 200px;" src="{{ url_for('static', filename='img/страхование.svg') }}"></div>
                    <div>
                        <h4>Страхование грузов</h4>
                        <p>
                            <b style="color: #6a1a21">4.3</b>Мы гарантируем защиту вашего груза на каждом этапе перевозки. В случае непредвиденных ситуаций, страхование грузов обеспечит вас дополнительной уверенностью.
                        </p>
                    </div>

                </div>
                <div class="col tablo-light">
                    <div class="d-flex justify-content-center mb-3"><img style="width: 200px; height: 200px;" src="{{ url_for('static', filename='img/хз-коробка.svg') }}"></div>
                    <h4>Таможенное оформление</h4>
                    <p>
                        <b style="color: #6a1a21">4.4</b>Наша команда экспертов знает все тонкости таможенных процедур. Мы гарантируем правильное и своевременное таможенное оформление, чтобы ваш груз прошел без задержек.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-light">
                    <div class="d-flex justify-content-center mb-3"><img style="width: 200px; height: 200px;" src="{{ url_for('static', filename='img/на-связи.svg') }}"></div>
                    <h4>Персональный менеджер 24/7</h4>
                    <p>
                        <b style="color: #6a1a21">4.5</b>Вы получаете постоянную поддержку своего персонального менеджера, который всегда на связи, готов ответить на вопросы и обеспечить вас всей необходимой информацией.
                    </p>
                </div>
                <div class="col tablo-light">
                    <div class="d-flex justify-content-center mb-3"><img style="width: 200px; height: 200px;" src="{{ url_for('static', filename='img/сроки.svg') }}"></div>
                    <h4>Максимально короткие сроки</h4>
                    <p>
                        <b style="color: #6a1a21">4.6</b>Мы ценим ваше время. Независимо от расстояния, мы гарантируем максимально быструю доставку, чтобы ваш груз прибыл вовремя.
                    </p>
                </div>
                <div class="col tablo-light">
                    <div class="d-flex justify-content-center mb-3"><img style="width: 200px; height: 200px;" src="{{ url_for('static', filename='img/любые_расстояния.svg') }}"></div>
                    <h4>Любые расстояния</h4>
                    <p>
                        <b style="color: #6a1a21">4.7</b>Независимо от того, куда и как далеко вы отправляете груз, наша компания готова обеспечить его безопасную и надежную доставку.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tablo-big tablo-invis px-5">
        <h3>Мы в цифрах</h3>
        <div class="d-flex justify-content-around tablo-color">
            <div>
                <h5>Договоров подписано</h5>
                <p style="font-size: 3em;">139</p>
            </div>
            <div>
                <h5>Постоянных клиентов</h5>
                <p style="font-size: 3em;">57</p>
            </div>
            <div>
                <h5>Количество направлений</h5>
                <p style="font-size: 3em;">300+</p>
            </div>
            <div>
                <h5>Грузов перевезено</h5>
                <p style="font-size: 3em;">478</p>
            </div>
        </div>
    </div>
    <div class="tablo-big tablo-invis">
        <h3>Наши партнёры</h3>
        <div class="container px-5">
            <div class="row">
                <div class="col logo d-flex align-items-center mb-5 mt-3 mx-2" STYLE="min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part1.png') }}"> </div>
                <div class="col logo d-flex align-items-center mb-5 mt-3 mx-2" STYLE="min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part7.png') }}"> </div>
                <div class="col logo d-flex align-items-center mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part3.png') }}"> </div>
                <div class="col logo d-flex align-items-center mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part4.png') }}"> </div>
                <div class="col logo d-flex align-items-center mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part5.png') }}"> </div>
                <div class="col logo d-flex align-items-center mb-5 mt-3 mx-2" STYLE=" min-width: 300px;max-width: 400px;"><img src="{{ url_for('static', filename='img/part6.png') }}"> </div>
            </div>
        </div>
    </div>

{% endblock %}