<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body class="bg-dark">
    <div class="w-100 text-light d-flex justify-content-between align-items-center px-5 mt-4">
        <h1 class="d-block">Панель администратора</h1>
        <a href="/" class="btn btn-light">Вернуться на сайт</a>
    </div>
    <div class="w-100 d-flex justify-content-center">
        <div class="funk py-5 my-5" style="max-width: 600px">
            <div class="main d-flex justify-content-around">
                <div onclick="but('add_news')" class="btn btn-light mx-2">Добавить новость</div>
                <div class="btn btn-light mx-2">Добавить статью</div>
                <div onclick="but('del_news')" class="btn btn-danger mx-2">Удалить новость</div>
                <div class="btn btn-danger mx-2">Удалить статью</div>
            </div>
            <div class="add-news d-none">
                <form>
                    <h2 class="text-light px-0">Новая новость</h2>
                    <div class="mb-2">
                        <label for="title" class="text-light d-block">Заголовок</label>
                        <input type="text" name="title" class="input-group-text text-start w-100" required>
                    </div>
                    <div class="mb-2">
                        <label for="path" class="text-light d-block">Ссылка</label>
                        <input type="text" name="path" class="input-group-text text-start w-100" required>
                    </div>
                    <div class="mb-2 text-light">
                        <p class="mb-1">* Имя новости в ссылке https://magnavis.ru/news/<t class="text-danger">name</t></p>
                        <p>* Одно слово строчными латинскими буквами</p>
                    </div>
                    <div class="mb-2">
                        <label for="data" class="text-light d-block">Дата</label>
                        <input type="date" name="data" class="input-group-text text-start w-100" required>
                    </div>
                    <div class="mb-2">
                        <label for="img" class="text-light d-block">Изображение</label>
                        <input type="file" name="img" class="input-group-text text-start w-100" required>
                    </div>
                    <div class="mb-2">
                        <label for="img2" class="text-light d-block">Изображение 2</label>
                        <input type="file" name="img2" class="input-group-text text-start w-100">
                    </div>
                    <div class="mb-2 text-light">
                        <p class="mb-1">* Второе изображение (горизонтальная версия) нужно если основное сильно вытянуто по высоте для лучшего отображения статьи</p>
                        <p>* Все изображения должны быть в формате .webp и не более 1000 пикселей в ширину; преобразовать можно <a href="https://image.online-convert.com/ru/convert-to-wbmp">здесь</a>, изменить размер <a href="https://www.iloveimg.com/ru/resize-image">здесь</a></p>
                    </div>
                    <div class="mb-2">
                        <label for="pb" class="text-light d-block">Жирный абзац</label>
                        <input type="text" name="pb" class="input-group-text text-start w-100">
                    </div>
                    <div class="mb-2 text-light">
                        <p>* Находится между заголовком и изображением; необязательный элемент</p>
                    </div>
                    <div class="mb-2 p1">
                        <label for="p1" class="text-light d-block">Абзац 1</label>
                        <input type="text" name="p1" class="input-group-text text-start w-100" required>
                    </div>
                    <div class="my-3 buttons">
                        <div class="d-none num-p" id="1"></div>
                        <div onclick="but('add_news_main')" class="btn btn-danger">Назад</div>
                        <button type="submit" class="btn btn-success float-end">Отправить</button>
                        <div onclick="new_p()" class="btn btn-light float-end mx-2">Добавить абзац</div>
                        <div onclick="del_p()" class="btn btn-light float-end">Удалить абзац</div>
                    </div>
                </form>
            </div>
            <div class="del-news d-none">
                <form>
                    <h2 class="text-light px-0">Удалить новость</h2>
                    <div class="mb-2 ">
                        <label for="text" class="text-light d-block">Ссылка</label>
                        <input type="text" class="input-group-text text-start w-100" required>
                    </div>
                    <div class="mb-2 text-light">
                        <p class="mb-1">* Имя новости в ссылке https://magnavis.ru/news/<t class="text-danger">name</t></p>
                        <p>* Одно слово строчными латинскими буквами</p>
                    </div>
                    <div class="mb-2 form-check form-switch">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label text-light">Безопасное удаление</label>
                    </div>
                    <div class="mb-2 text-light">
                        <p>* Безопасное удаление позволяет легко восстановить новость при необходимости</p>
                    </div>
                    <div class="my-3 buttons">
                        <div class="d-none num-p" id="1"></div>
                        <div onclick="but('del_news_main')" class="btn btn-danger">Назад</div>
                        <button type="submit" class="btn btn-danger float-end">Удалить</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='adm.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>