{% extends "base.html" %}

{% block title %}Оплата{% endblock %}

{% block content %}
    <style>body{background-image: none;}nav{margin-bottom: 30px;}</style>
    <div class="tablo-big tablo-light">
        <h3 class="text-center">Оплата</h3>
    </div>
    <div class="tablo-big tablo-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col tablo-color"></div>
                <div class="col tablo-light"></div>
            </div>
        </div>
    </div>
    <div class="tablo-big tablo-light">
        <h3 class="text-center">Сроки</h3>
    </div>
    <div class="tablo-big tablo-light">
        <h3 class="text-center">Оплатить онлайн</h3>
            <form class="text-light">

                <div class="mb-3 form__group field">
                    <input type="text" class="form__field" name="name" id="name" placeholder="name" required>
                    <label class="form__label" for="name">Ваше имя</label>
                </div>
                <div class="mb-3 form__group field">
                    <input type="email" class="form__field" name="email" id="email" placeholder="email" required aria-describedby="emailHelp">
                    <label class="form__label" for="email">Ваш email</label>
                </div>
                <div class="mb-3 form__group field">
                    <input type="number" class="form__field" name="number" id="number" placeholder="number" required>
                    <label class="form__label" for="number">Ваш телефон</label>
                </div>
                <div class="mb-3 form-check">
                    <label class="form-check-labeL" for="exampleCheck1" style="color: gray;">Согласие на обработку персональных данных</label>
                    <input type="checkbox" class="form-check-input">
                </div>
                <button type="submit" class="btn btn-danger">Отправить</button>
            </form>
</div>
{% endblock %}