{% extends "base.html" %}

{% block title %}Услуги{% endblock %}

{% block content %}
    <style>body{background-image: none;}section>div{display: none;}section{background-image: none; min-height: 0;}</style>
    <div class="tablo-big tablo-light">
        <h3 class="text-center">Услуги</h3>
    </div>
    <div class="tablo-big tablo-light">
        <h3>Транспорт</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col tablo-color">
                    <h4>Авиадоставка</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Ж/Д доставка</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>Автодоставка</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Морской фрахт</h4>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;">

                </div>
                <div class="col tablo-light">
                    <h4>Мультимодальные перевозки</h4>
                </div>
            </div>
        </div>

    </div>
    <div class="tablo-big tablo-light">
       <h3>Грузы любой специфики</h3>
       <div class="container-fluid">
            <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозки грузов с температурным режимом</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Перевозка животных</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>.перевозка медикаментов</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Перевозка продуктов питания</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозка цветов</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Перевозка ценных грузов</h4>
                </div>
            </div>
           <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозка опасных грузов</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Перевозка спецгрузов</h4>
                </div>
            </div>
           <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозка автомобилей</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Перевозка зап. частей и оборудования</h4>
                </div>
            </div>
           <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозка одежды</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Другое</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="tablo-big tablo-light">
        <h3>Дополнительные услуги</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col tablo-color">
                    <h4>Упаковка грузов</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Погрузо-разгрузочные работы</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>Доставка груза от «двери до двери»</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Морской фрахт</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>Таможенное оформление грузов</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Мультимодальные перевозки</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>Складские услуги</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Экспедирование грузов</h4>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;">

                </div>
                <div class="col tablo-light">
                    <h4>Страхование грузов</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="tablo-big tablo-light">
        <div style="margin: 0 auto;
  padding: 4rem;
  width: 48rem;">

            <h2>Frequently Asked Questions</h2>

            <div class="accordion">
              <div class="accordion-item">
                <a>What can JavaScript Do?</a>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
              </div>
              <div class="accordion-item">
                <a>How JavaScript Can Modify HTML and CSS Values?</a>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
              </div>
              <div class="accordion-item">
                <a>What Is SVG?</a>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
              </div>
              <div class="accordion-item">
                <a>Is FAQ Section Matters In Website?</a>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
              </div>
              <div class="accordion-item">
                <a>How To Create a Light FAQ Element?</a>
                <div class="content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}