{% extends "base.html" %}

{% block title %}Услуги{% endblock %}

{% block content %}
    <style>.p-up-s{display: none;}section{ min-height: 0;}body{background-image: linear-gradient(to bottom, #171616, #000000);}</style>
    <div class="tablo-big tablo-invis">
        <h3 class="text-center">Услуги</h3>
    </div>
    <div class="tablo-big tablo-invis">
        <h3>Транспорт</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col tablo-color">

                       <h4 class="m-0">Авиадоставка</h4>

                </div>
                <div class="col tablo-light">
                    <h4>Ж/Д доставка</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>Автодоставка</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Морской фрахт</h4>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;">

                </div>
                <div class="col tablo-light">
                    <h4>Мультимодальные перевозки</h4>
                </div>
            </div>
        </div>

    </div>
    <div class="tablo-big tablo-invis">
       <h3>Грузы любой специфики</h3>
       <div class="container-fluid">
            <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозки грузов с температурным режимом</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Перевозка животных</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозка медикаментов</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Перевозка продуктов питания</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозка цветов</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Перевозка ценных грузов</h4>
                </div>
            </div>
           <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозка опасных грузов</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Перевозка спецгрузов</h4>
                </div>
            </div>
           <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозка автомобилей</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Перевозка зап. частей и оборудования</h4>
                </div>
            </div>
           <div class="row">
                <div class="col tablo-color">
                    <h4>Перевозка одежды</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Другое</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="tablo-big tablo-invis">
        <h3>Дополнительные услуги</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col tablo-color">
                    <h4>Упаковка грузов</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Погрузо-разгрузочные работы</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>Доставка груза от «двери до двери»</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Складские услуги</h4>
                </div>
            </div>
            <div class="row">
                <div class="col tablo-color">
                    <h4>Таможенное оформление грузов</h4>
                </div>
                <div class="col tablo-light">
                    <h4>Экспедирование грузов</h4>
                </div>
            </div>
{#            <div class="row">#}
{#                <div class="col tablo-color">#}
{#                    <h4>Складские услуги</h4>#}
{#                </div>#}
{#                <div class="col tablo-light">#}
{#                    <h4>Экспедирование грузов</h4>#}
{#                </div>#}
{#            </div>#}
            <div class="row">
                <div class="col" style="padding: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;">

                </div>
                <div class="col tablo-light">
                    <h4>Страхование грузов</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="tablo-big tablo-invis" style="padding-left: 40px; padding-right: 40px;">
        <h3>Вопрос-Ответ</h3>
        <ul class="list-unstyled">
                <li>
                    <div class="d-flex justify-content-between faq-question fa-start que1">
                        <h4 class="mt-2">Сколько весит розовый слон?</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="45" fill="currentColor" class="bi bi-plus-circle plus" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="45" fill="currentColor" class="bi bi-dash-circle minus" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
</svg>
                    </div>
                    <div class="faq-answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                    </div>
                </li>
                <li>
                    <div class="d-flex justify-content-between faq-question fa-end que2">
                        <h4 class="mt-2">Сколько весит розовый слон?</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="45" fill="currentColor" class="bi bi-plus-circle plus" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="45" fill="currentColor" class="bi bi-dash-circle minus" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
</svg>
                    </div>
                    <div class="faq-answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
                    </div>
                </li>
            </ul>
    </div>
{% endblock %}